body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:430px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u1 {
  position:absolute;
  left:2px;
  top:432px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:25px;
  top:101px;
  width:380px;
  height:79px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:79px;
}
#u3 {
  position:absolute;
  left:2px;
  top:32px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:25px;
  top:130px;
  width:380px;
  height:645px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:645px;
}
#u5 {
  position:absolute;
  left:2px;
  top:314px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:352px;
  top:720px;
  width:38px;
  height:38px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u7 {
  position:absolute;
  left:2px;
  top:11px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:35px;
  top:140px;
  width:25px;
  height:35px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:35px;
}
#u9 {
  position:absolute;
  left:2px;
  top:10px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:307px;
  top:145px;
  width:98px;
  height:35px;
  font-size:20px;
  color:#0099FF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:35px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:90px;
  top:280px;
  width:100px;
  height:100px;
  font-size:20px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u13 {
  position:absolute;
  left:2px;
  top:38px;
  width:96px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:90px;
  top:410px;
  width:100px;
  height:100px;
  font-size:20px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u15 {
  position:absolute;
  left:2px;
  top:38px;
  width:96px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:90px;
  top:540px;
  width:100px;
  height:100px;
  font-size:20px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u17 {
  position:absolute;
  left:2px;
  top:38px;
  width:96px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:222px;
  top:410px;
  width:100px;
  height:100px;
  font-size:20px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u19 {
  position:absolute;
  left:2px;
  top:38px;
  width:96px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:222px;
  top:540px;
  width:100px;
  height:100px;
  font-size:20px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u21 {
  position:absolute;
  left:2px;
  top:26px;
  width:96px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:105px;
  top:190px;
  width:192px;
  height:66px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:66px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:222px;
  top:280px;
  width:100px;
  height:100px;
  font-size:20px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u25 {
  position:absolute;
  left:2px;
  top:26px;
  width:96px;
  word-wrap:break-word;
}
