body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:430px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u1 {
  position:absolute;
  left:2px;
  top:432px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:25px;
  top:101px;
  width:380px;
  height:79px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:79px;
}
#u3 {
  position:absolute;
  left:2px;
  top:32px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:25px;
  top:130px;
  width:380px;
  height:645px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:645px;
}
#u5 {
  position:absolute;
  left:2px;
  top:314px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:108px;
  top:330px;
  width:192px;
  height:66px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:66px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:108px;
  top:420px;
  width:141px;
  height:66px;
  font-size:28px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:66px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:30px;
  top:135px;
  width:21px;
  height:37px;
  color:#0033FF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:37px;
}
#u11 {
  position:absolute;
  left:2px;
  top:10px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:166px;
  top:145px;
  width:97px;
  height:35px;
  font-size:20px;
  color:#0099FF;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:35px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  word-wrap:break-word;
}
