<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>wechat_timeline</string>
		<string>UMS_wechat_timeline_icon</string>
	</array>
	<array>
		<string>wechat_session</string>
		<string>UMS_wechat_session_icon</string>
	</array>
	<array>
		<string>wechat_favourite</string>
		<string>UMS_wechat_favorite_icon</string>
	</array>
	<array>
		<string>sina</string>
		<string>UMS_sina_icon</string>
	</array>
	<array>
		<string>qq_session</string>
		<string>UMS_qq_icon</string>
	</array>
	<array>
		<string>qzone</string>
		<string>UMS_qzone_icon</string>
	</array>
	<array>
		<string>instagram</string>
		<string>UMS_instagram</string>
	</array>
	<array>
		<string>fackbook</string>
		<string>UMS_facebook_icon</string>
	</array>
	<array>
		<string>twitter</string>
		<string>UMS_twitter_icon</string>
	</array>
	<array>
		<string>whatsapp</string>
		<string>UMS_whatsapp_icon</string>
	</array>
	<array>
		<string>tumblr</string>
		<string>UMS_tumblr_icon</string>
	</array>
	<array>
		<string>line</string>
		<string>UMS_line_icon</string>
	</array>
	<array>
		<string>yixin</string>
		<string>UMS_yixin_session</string>
	</array>
	<array>
		<string>yixin_timeline</string>
		<string>UMS_yixin_timeline</string>
	</array>
	<array>
		<string>txweibo</string>
		<string>UMS_tencent_icon</string>
	</array>
	<array>
		<string>renren</string>
		<string>UMS_renren_icon</string>
	</array>
</array>
</plist>
